
<div  class="container mt-4">

<h2 class="text-center"> Create your new account 
</h2>

<div class="col-6 mx-auto">

    <label for="name">name:</label>
    <input type="text" id="name" name="name" #inputname class="form-control"
        required minlength="3" >

        <label for="email">email:</label>
        <input type="text" id="email" name="email" #inputemail  class="form-control"
            required minlength="3" >

            <label for="password">password:</label>
            <input type="text" id="password" name="password" #inputpassword class="form-control"
                required minlength="3" >
        

<button (click)="register(inputname.value,inputemail.value,inputpassword.value)" class="btn btn-dark form-control m-1"> register</button>

</div>
</div>